.stage-card {
  font-weight: bold;
  margin: 0 auto 0.5rem auto;
  background-color: #dbdbdb;
  color: black;
  border: none;
  border-radius: 2px;
  padding: 0.25rem 1rem;
  max-width: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.stage-startCity {
  font-size: 0.875rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stage-endCity {
  font-size: 0.875rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stage-travel {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stage-time {
  font-size: 1rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
