.carousel-container {
  width: max-content;
  background-color: white;
  box-shadow: rgba(17, 21, 26, 0.25) 0px 0.35rem 0.65rem 0px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 8px;
  padding: 2rem;
}

.carousel-tabs {
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.carousel-tabs p {
  margin: 0;
}

.carousel-controls {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

button.carousel-button {
  display: flex;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: #8f9779;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}

.carousel-button:hover {
  background-color: #78866b;
}

.carousel-button:active {
  background-color: #78866b;
  transform: scale(0.9);
}

.carousel-button:disabled {
  background-color: #abb0b8;
  color: #6f7378;
}

.carousel-button:disabled:active {
  transform: scale(1);
}
